<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<sec:authentication-manager>
		<sec:authentication-provider
			user-service-ref="pizzariaUserDetailsService" />
	</sec:authentication-manager>

	<!-- URLs without Spring Security -->
	<sec:http pattern="/" security="none" />
	<sec:http pattern="/resources/**" security="none" />

	<!-- Spring Security config intercept -->
	<sec:http auto-config="true" use-expressions="true">
		<sec:intercept-url pattern="/**" access="isAuthenticated()" />

		<sec:csrf disabled="true" />

		<sec:form-login login-processing-url="/login"
			default-target-url="/?login_success=1" />

		<sec:logout logout-url="/logout" logout-success-url="/?logout_success=1"
			delete-cookies="JSESSIONID" />
	</sec:http>

	<!-- To use the Spring Security Annotations in Classes -->
	<sec:global-method-security
		pre-post-annotations="enabled" />
</beans>