<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- Configuração do AuthenticationProvider -->
	<sec:authentication-manager id="authenticationManager">
		<sec:authentication-provider
			user-service-ref="pizzariaUserDetailsService">
				<sec:password-encoder ref="passwordEncoder"></sec:password-encoder>
			</sec:authentication-provider>
	</sec:authentication-manager>
	
	<bean id="passwordEncoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder" />
	
	<!-- URLs livres do Spring Security -->
	<sec:http pattern="/" security="none" />
	<sec:http pattern="/resources/**" security="none" />
	
	<sec:http
			realm="Protected API"
			use-expressions="true"
			auto-config="false"
			create-session="stateless"
			entry-point-ref="unauthorizedEntryPoint"
			authentication-manager-ref="authenticationManager">
		<sec:csrf disabled="true" />
		<sec:custom-filter ref="authenticationTokenProcessingFilter" position="FORM_LOGIN_FILTER" />
		<sec:intercept-url method="POST" pattern="/auth/login" access="permitAll" />
 		<sec:intercept-url pattern="/**" access="isAuthenticated()" />
	</sec:http>
	
	<bean id="unauthorizedEntryPoint" class="com.matera.pizzaria.rest.UnauthorizedEntryPoint" />
	
	<bean class="com.matera.pizzaria.rest.AuthenticationTokenProcessingFilter" id="authenticationTokenProcessingFilter">
		<constructor-arg ref="pizzariaUserDetailsService" />
	</bean>
	
</beans>